<footer class="footer">
  <nav class="social-icons-container">
    {% for item in site.data.settings.social %}
      <a href="{{ item.link }}" class="social-icon-link fa fa-{{ item.icon }}" target="_blank" aria-label="{{ item.name }}" rel="noopener noreferrer"></a>
    {% endfor %}
  </nav>
  <div class="legal-links">
    <a href="{{ site.url }}/TERMS/">Terms of Use</a>
  </div>
  <div class="footer-description">
    <a href="{{ site.url }}/" aria-label="Home link">{{ site.title }} by {{ site.author }}</a>
  </div>
</footer>
