
<header class="site-header">
  
  <a href="{{ site.github.url }}/">  
    <div class= "centered-image">
      <img src="assets/img/logo.jpeg" class="site-image">
    </div>
  </a>

  <div class="menu">
    <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="menu-list">
      {% for item in site.data.settings.menu %}
        <a href="{{ site.github.url }}/{{ item.url }}" class="menu-link">{{ item.name }}</a>
      {% endfor %}
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
      {% endfor %}
    </div>
    <div class="overlay"></div>
    <script src="script.js"></script>
  
  </div>
</header>
