<menu class="menu">
  <div class="menu-icon" id="menu-icon">
    <img src="{{ site.github.url }}/assets/img/menu_icon_1.png" alt="Icon 1" class="icon icon1">
    <img src="{{ site.github.url }}/assets/img/menu_icon_2.png" alt="Icon 2" class="icon icon2">
  </div>

  <div class="menu-list">
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.url }}" class="menu-link">{{ item.name }}</a>
    {% endfor %}
    {% for item in site.data.settings.social %}
      <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
    {% endfor %}
  </div>
  
  <div class="menu-overlay" id="menu-overlay"></div>
</menu>