.site-header {
  min-height:100px;
  width: $container-width;
  position: fixed;
  background-color: white;
  z-index: 1000;
  left:50%;
  top:0;
  transform: translateX(-50%);
}

.site-image {
  width:100px;
  height: auto; 
  display: block;
  margin: 0 auto;
  z-index: 1001;
}

.centered-image {
  position: relative;
  top:15px;
  text-align: center;
  z-index: 1001;
}

@media (max-width: $container-width) {
  .site-header {
    width: 100%;
  }
}
