.site-header {
  min-height: 144px;
  width: $container-width;
  position: fixed;
  background-color: white;
  box-shadow: 0 5px 6px -6px #bbb;
  z-index: 100;
  left:50%;
  transform: translateX(-50%);
}

.site-image {
  max-width: 100%;
  height: auto; 
  display: block;
  margin: 0 auto;
}
.centered-image {
  text-align: center;
}

@media (max-width: $container-width) {
  .site-header {
    min-height: 144px;
    width: 95vw;
    position: fixed;
    background-color: white;
    box-shadow: 0 5px 6px -6px #bbb;
    z-index: 100;
  }
  .site-image {
    max-width: 100%;
    height: auto; 
    display: block;
    margin: 0 auto;
  }
}