.menu {
    position: absolute;
    top:0;
    left:0
  }
  
  .menu-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1500;
  
    .icon{
      width:50px;
      height:auto;
      margin-right: 10px;
    }

    .icon2 {
      display: none; 
    }
  }
  
  
  .menu-list {
    text-decoration:none;
    list-style:none;
    padding:0;
    margin:0;
    display: none;
  }
  
  .menu-link {
    text-decoration: none;
    color: #333;
    font-size:30px;
    font-weight:600;
    text-transform:uppercase;
    text-align:center;
    padding: 10px;
    display: block;
  }
  
  .overlay { 
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color:#fff;
    z-index: 900; 
  }
  
  .menu-list.show {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width:100%; 
    height: 100%;
    background-color:rgba(0, 0, 0, 0.259);
    z-index: 1000; 
  }