.menu {
    position: absolute;
  }
  
  .menu-toggle {
    cursor: pointer;
    display: block;
    position: fixed; 
    top: 15px;
    left: 50px;
    z-index:1500; 
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  
  .menu-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    display: block;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width:$container-width;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.259);
    z-index: 900; 
  }
  
  .menu-list.show {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: $container-width; 
    height: 100%;
    background-color:rgba(0, 0, 0, 0.259);
    z-index: 1000; 
  }
  