.menu {
    position: absolute;
    top:0;
    left:0
  }
  
  .menu-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1500;
  
    .icon{
      width:50px;
      height:auto;
      margin-right: 10px;
    }

    .icon2 {
      display: none; 
    }
  }
  
  .menu-list {
    list-style:none;
    padding:0;
    margin:0;
    display: none;
  }
  
  .menu-link {
    text-decoration: none;
    color: #333;
    font-size:30px;
    font-weight:400;
    text-transform:uppercase;
    text-align:center;
    padding: 10px;
    display: block;
  }

  .menu-list.show {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    width:100%; 
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter:blur(8px);
    z-index: 1000; 
  }
